# API .NET
**/bin/
**/obj/
**/publish/

**/appsettings.Development.json
**/*.vsidx

.vs/
*.user
*.suo

*.log

node_modules/
dist/

*.dockerfile
docker-compose.override.yml

BankDevsu.Api/publish/

WebApp/node_modules/
WebApp/dist/

*.log
*.env
.vscode/
